<!-- hw/templates/hw/home.html -->

<html>
    <head>
        <title>Hello world!</title>
    </head>
    <body>
        <h1>Hello world!</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo consectetur fuga voluptate reiciendis et accusamus, repudiandae sunt at temporibus quibusdam eum nulla omnis libero aspernatur dolorum necessitatibus recusandae nisi quos!
        </p>

        <footer>
            The current time is {{time}}. <br>
            This page has been brought to you by the letters {{letter1}} and {{letter2}}, and by the number {{number}}.
        </footer>
    </body>
</html>